<%- include("partials/header"); -%>

<h1>Purchases Inventory</h1>

<form action="/updatePurchase" method="post">
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Size</th>
                <th>Cost Price</th>
                <th>Sell Price</th>
                <th>Yield</th>
                <th>Purchase Totals</th>
                <% for (let i = 1; i <= 8; i++) { %>
                <th>Purchase <%= i %></th>
                <% } %>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <% for (let i = 1; i <= 8; i++) { %>
                <th>Date & Amount</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% DB_products.slice(1).forEach(product => { %>
            <tr>
                <td><%= product.Name %></td>
                <td><%= product.Size %></td>
                <td><%= product.Unit %></td>
                <td><%= product.salesNoVAT %></td>
                <td><%= product.Yield %></td>
                <td>
                    <input id="purchaseTotal<%= product.id %>" name="purchaseTotal<%= product.id %>"
                        value="<%= product.purchases %>" readonly>
                </td>
                <% const productPurchases = Inventory.find(purchase => purchase.productID === product.id); %>

                <% for (let i = 0; i < 8; i++) { %>
                <td>
                    <input type="date" name="date[<%= product.id %>][<%= i %>]" style="margin-bottom: 5px;"
                        value="<%= productPurchases ? productPurchases.purchaseValues.date[i] : '' %>">
                    <br>
                    <input type="number" class="amounts" name="value[<%= product.id %>][<%= i %>]"
                        data-product="<%= product.id %>" data-column="<%= i %>"
                        oninput="calculateTotal('<%= product.id %>')"
                        value="<%= productPurchases ? productPurchases.purchaseValues.value[i] : 0 %>">
                </td>
                <% } %>
            </tr>
            <input type="text" hidden value="<%= product.id %>" name="productID[]">
            <% }); %>
        </tbody>
    </table>

    <button type="submit">Update Purchases</button>
</form>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    input {
        width: 80px;
        box-sizing: border-box;
    }

    button {
        margin-top: 10px;
    }
</style>

<script>
    function calculateTotal(productId) {
        const purchaseTotalCell = document.getElementById('purchaseTotal' + productId);
        const purchaseInputs = document.querySelectorAll('.amounts[data-product="' + productId + '"]');
        let total = 0;

        for (let i = 0; i < purchaseInputs.length; i++) {
            const inputValue = parseInt(purchaseInputs[i].value) || 0;
            total += inputValue;
        }

        purchaseTotalCell.textContent = total;

        purchaseTotalCell.setAttribute('value', total);
    }
</script>

<%- include("partials/footer"); -%>